<!DOCTYPE html>
<html lang="es">
  <head>
     <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="{{ assets }}/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" type="text/css" href="{{ assets }}/css/ripples.min.css">

    <!-- Import flexboxgrid -->
    <link rel="stylesheet" href="{{ assets }}css/flexboxgrid.css">
    <!-- Import my css style -->
    <link rel="stylesheet" href="{{ assets }}css/main.css">
    <meta charset="utf-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Cloud Manager - {% block title %} {% endblock title %}</title>
  </head>

  <body>
    {% include "partials/navigation.html" %}
    {% block content %} {% endblock content %}
    <!--Import jQuery -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{{ assets }}js/ripples.min.js"></script>
    <!-- Import material.min.js -->
    <script src="{{ assets }}js/material.min.js"></script>
    <script src="{{ assets }}js/main.js"></script>
  </body>
</html>
