<!DOCTYPE html>
<html lang='es'>
  <head>
    <meta charset='utf8'>
    <title>Cloud Manager</title>
    <meta content='Cloud manager, administración de servidores' name='description'>
    <meta content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' name='viewport'>
    <link rel="shortcut icon" href="http://server3.metin2renacer.com/images/code.png">
    <link href='http://server3.metin2renacer.com/assets/css/main.css' rel='stylesheet'>
  </head>
  <body>
    <!--[if lt IE 9]>
    <p class='browserupgrade'>
      Estas usando un navegador
      <strong>desactualizado</strong>
      Por favor
      <a href='http://browsehappy.com/'>
        actualiza tu navegador
      </a>
      para una mejor experiencia
    </p>
    <![endif]-->
    <div class='video-container'>
      <video autoplay height='720' loop poster='http://server3.metin2renacer.com/videos/imgs/airtaxi.jpg' width='120'>
        <source src='http://server3.metin2renacer.com/videos/mp4/airtaxi.mp4' type='video/mp4'>
        <source src='http://server3.metin2renacer.com/videos/webm/airtaxi.webm' type='video/webm'>
      </video>
    </div>
  </body>
</html>
