{% extends 'index.html' %}

{% block title %} Deploy {% endblock %}

{% block content %}

<div class="container white">
  <h1>Deploy</h1>
  <form action="" method="POST">
    <div class="form-group">
      <label for="vm-plans">Planes</label>
      <select name="vm-plans" id="vm-plans" class="form-control">
        <option value="" disabled selected>Seleccione</option>
        {% for plan in data %}
        <option value="{{ plan.id }}"> {{ plan.name }} </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="expiry-time">Fecha de expiración</label>
      <input type="date" name="expiry-time" id="expiry-time" class="form-control">
    </div>
    <div class="form-group text-right">
      <a href="{{ URL }}/deploy">Regresar a deploy</a>
      <input class="btn btn-success" type="submit" name="buy" value="Enviar">
    </div>
  </form>
</div>

{% endblock %}
