{% extends 'index.html' %}
{% block title %} Crear plan{% endblock %}
{% block bootstrap_material_design %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
{% endblock %}

{% block content %}
{% include "partials/navigation.html" %}
<div class="container white">
  <h1>Crear Plan</h1>

  <form action="" method="POST">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="processors">CPUS</label>
      <input type="number" name="processors" id="processors" class="form-control">
    </div>
    <div class="form-group">
      <label for="ram">RAM</label>
      <input type="number" name="ram" id="ram" class="form-control">
    </div>
    <div class="form-group">
      <label for="hard-disk">Disco duro</label>
      <input type="number" name="hard-disk" id="hard-disk" class="form-control">
    </div>
    <div class="form-group">
      <label for="price">Precio</label>
      <input type="number" name="price" id="price" class="form-control">
    </div>
    <div class="form-group text-right">
      <a href="{{ URL }}/plans">Regresar a la lista de planes</a>
      <input class="btn btn-success" type="submit" name="crear_plan" value="Crear Plan">
    </div>
  </form>

</div>

{% endblock %}